@media only screen and (min-width: 600px) {
    .container-fluid {
        font-size-adjust: auto;
    }

body {
   margin: 50px;
}
.container-fluid {
    padding-top: 5px;
}
#header h1 {
    color:black;
    font-family: sans-serif;
    font-size: 70px;
    text-align: right;
    margin: 0;
    position: relative;
    min-width: 360px;
    min-height: auto;
}
#header h2 {
    color:black;
    font-family: sans-serif;
    font-size: 50px;
    text-align: right;
    margin: 0;
    position: relative;
    min-width: 360px;
    min-height: auto;
}

#header img {
    color:black;
    font-family: sans-serif;
    text-align: left;
    margin: 0;
    position: relative;
}

#main-content-wrapper .row {
    text-align:center;
}

hr { 
    border-color: black;
    border-width: 5px;
}

.max-width {
    margin: 0 auto;
    max-width: 1600px;
}

#favorite-websites .col-md-4 border {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5PX;
}
